<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="en">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Analytics Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
		<meta name="msapplication-tap-highlight" content="no">
		<link href="{{ asset('main.css')}}" rel="stylesheet"/>
        {# bootstrap stylesheet link #}
        <link rel="stylesheets" href="{{asset('assets/bootstrap.min.css') }}" defer>
        {% block stylesheets %}{% endblock %}
        {# bootstrap JS link#}
        <script src="{{asset('assets/scripts/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
		</head>
		{#{% block logo %}
			<div class="logo-container-login">
			</div>
			{% endblock %}#}
		{% block body %}

			<body>
				{% include 'ui/navbar.html.twig' %}
				
				<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
					<div class="app-main">
						{% include "ui/sidebarMain.html.twig"%}
						{% include 'ui/appBody.html.twig'%}
						<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
					</div>

				</div>
				<script type="text/javascript" src="./assets/scripts/main.js"></script>
			{% endblock %}
		</body>

	</html>
